<%- include('../partials/header') %>
    <form action="/skills/<%= skill.id %>?_method=PUT" method="POST" >
        <label>Skill</label>
        <input name="skill">
        <label>Level</label>
        <input name="level">
        <button type="submit">Submit</button>
    </form>

<%- include('../partials/footer') %>