<%- include('../partials/header') %>
    <form action="/skills" method="POST">
        <label>Skill</label>
        <input type="text" name="skill">
        <label>Level</label>
        <input type="text" name="level">
        <button type="submit">Save Skill</button>
    </form>
<%- include('../partials/footer') %>